<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tangram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FC711111C8D1FFE006FF38F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FC7112A1C8D1FFE006FF38F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FC711351C8D1FFE006FF38F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
